@import "../../styles/variables";

.profile {
  display: flex;
  justify-content: space-between;
  padding: $spacing-large 0 $spacing-small 0;
  margin: 2px 0;

  .profile__photo {
    width: 20%;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .profile__info {
    width: 65%;
    .name {
      font-size: 15px;
      text-transform: capitalize;
      margin-bottom: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .company {
      font-size: 10px;
      text-transform: capitalize;
      color: $custom-text-grey-base;
      margin-bottom: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
