/** 
    Brand colors 
**/
// primary
$custom-primary-blue: #1E90FF;

// secondary
$custom-grey-light: #FCFCFC;
$custom-grey-dark: #C4C4C4;

// text
$custom-text-black: #212121;
$custom-text-grey-dark: #666666;
$custom-text-grey-base: #939393;

/** 
    Spacing
**/
$spacing-xsmall: 6px;
$spacing-small: 12px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 32px;
$spacing-xxlarge: 48px;
$spacing-xxxlarge: 64px;
