@import "../../styles/variables";

.title-bar {
  background-color: #fff;
  padding: 0 $spacing-large;

  .title-bar__heading {
    padding: $spacing-xlarge 0;
    h2 {
      color: $custom-text-black;
      font-weight: 700;
    }
  }
}

.main-area__content {
  min-height: 80vh;
  background-color: $custom-grey-light;
  padding: $spacing-xlarge $spacing-large $spacing-xxxlarge $spacing-large;
}
