@import "../../styles/variables";

.letter-link {
  list-style: none;
  margin-right: $spacing-small;

  .scroll-link {
    color: $custom-text-grey-dark;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: $custom-text-grey-dark;
    }
  }

  .letter-border {
    width: 16px;
    height: 4px;
  }
  .letter-border-hover {
    border: 1px solid $custom-primary-blue;
  }
  .letter-border-active {
    background-color: $custom-primary-blue;
  }
  .letter-border-default {
    background-color: #fff;
  }
}

.letter-link.disabled {
  pointer-events: none;
  opacity: 0.2;
}
